In [41]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
music_data = pd.read_csv("Datasets/music.csv")

In [15]:
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [17]:
X = music_data.drop(columns=['genre']) # creates new dataset that excludes 'genre' col
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [18]:
# create output set
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [23]:
# split into training/testing sets
# X = input sets & y = output sets
# randomly picks data for training & testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # allocate 20% of data for testing

In [35]:
# create model using machine learning algorithm
# Algorthm in use: Decision Tree

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
#model.fit(X, y)
#predictions = model.predict([ [21, 1], [22, 0] ]) # 21 yr old male (1) & 22 yr old female (0)

score = accuracy_score(y_test, predictions)
score

1.0

In [43]:
from sklearn import tree

tree.export_graphviz(model, 
                     out_file='music-recommender.dot', 
                     feature_names=['age', 'gender'], 
                     class_names=sorted(y.unique()),
                     label='all',
                    rounded=True,
                    filled=True)